.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.freeBox__eGwr4 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__eGwr4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__eGwr4 > :global(.__wab_flex-container) > *,
.freeBox__eGwr4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eGwr4 > :global(.__wab_flex-container) > picture > img,
.freeBox__eGwr4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__f8OZ4:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__dcUdt {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___13Tjd {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__bSnaB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__rgj75:global(.__wab_instance) {
  position: relative;
}
.svg__aWeU7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Y2Yd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value__o4Lva:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__m0Gvm {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__bwTsK {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__nwo0B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button___2Svta:global(.__wab_instance) {
  position: relative;
}
.svg__dlwWs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zkFzb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value__ksvMx:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__xmTQb {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__ni3Dg {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__ufwjj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__bGrDx:global(.__wab_instance) {
  position: relative;
}
.svg__hZdRf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__za2Kb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
