.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.productCollection___5XEqC:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
.freeBox__kimgh {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__izgU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__u6Qyh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mjNxM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dIsR1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.productBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__in94N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productTextField__lxLak:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.productMedia__rQeWx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.productTextField__sjviq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dYuZu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vEbXa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.productCollection__vSZog:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
.freeBox___4SclM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productTextField__cjoKi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.productMedia__kOoGr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.productTextField___1Ykhv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___1ICSs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__rBtft {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
