.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__afDDr {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  background: linear-gradient(#ffffffcc, #ffffffcc),
    url("/plasmic/medusa_js_plasmic_demo_store/images/hero.png") top 50% left 50% / cover repeat;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__afDDr {
    padding-bottom: 0px;
  }
}
.container3 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__svdTr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__svdTr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__svdTr > :global(.__wab_flex-container) > *,
.freeBox__svdTr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__svdTr > :global(.__wab_flex-container) > picture > img,
.freeBox__svdTr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__m2OH7 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__m2OH7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__m2OH7 > :global(.__wab_flex-container) > *,
.freeBox__m2OH7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m2OH7 > :global(.__wab_flex-container) > picture > img,
.freeBox__m2OH7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text___2Amgb {
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--token-vvAPSe7lfkba);
  min-width: 0;
}
.button__hszBn:global(.__wab_instance) {
  position: relative;
}
.svg__fd6QP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3HbB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__aNhf {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__aKp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__mjU4B {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__t4F3U:global(.__wab_instance) {
  position: relative;
}
.svg__tYflx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ykIt5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.productCollection__tog3Y:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__zNOef {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: auto;
  height: auto;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  padding: 8px;
}
.freeBox__m0ENy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.productCard__mWhUn:global(.__wab_instance) {
  height: 100%;
  min-height: 0;
}
.svg__gNjiw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s12Ld {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xyBrj {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__dv4E1 {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-6g-ax28nVeGn);
  min-width: 0;
}
.rating:global(.__wab_instance) {
  position: relative;
}
.text__wzXeS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vMoGx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__kGdcg {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox__iXcwu {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox__iXcwu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__iXcwu > :global(.__wab_flex-container) > *,
.freeBox__iXcwu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iXcwu > :global(.__wab_flex-container) > picture > img,
.freeBox__iXcwu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iXcwu {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iXcwu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iXcwu > :global(.__wab_flex-container) > *,
  .freeBox__iXcwu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iXcwu > :global(.__wab_flex-container) > picture > img,
  .freeBox__iXcwu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__uj7Z3 {
  display: flex;
  flex-direction: column;
}
.freeBox__uj7Z3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uj7Z3 > :global(.__wab_flex-container) > *,
.freeBox__uj7Z3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uj7Z3 > :global(.__wab_flex-container) > picture > img,
.freeBox__uj7Z3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__vpa2W {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vpa2W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vpa2W > :global(.__wab_flex-container) > *,
.freeBox__vpa2W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vpa2W > :global(.__wab_flex-container) > picture > img,
.freeBox__vpa2W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ejoxH {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text___2IAzl {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__ifcY {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ifcY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ifcY > :global(.__wab_flex-container) > *,
.freeBox__ifcY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ifcY > :global(.__wab_flex-container) > picture > img,
.freeBox__ifcY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ifcY {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ifcY > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ifcY > :global(.__wab_flex-container) > *,
  .freeBox__ifcY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ifcY > :global(.__wab_flex-container) > picture > img,
  .freeBox__ifcY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text___0OGkx {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg__go4Hk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8925E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rjVe {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__dAh2P:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__yxi59 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___6KyJj {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__cnhw2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__ytiIt:global(.__wab_instance) {
  position: relative;
}
.svg__beTIp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v8Qhc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__lhckG {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__xX8Fw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__g88Sj {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__x90X0 {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__ul5IW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button___34HhS:global(.__wab_instance) {
  position: relative;
}
.svg__g6Eoh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Eemg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__ztSek {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__gBcv:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__gBcv:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___3XmNn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___5WLU {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg___0ElC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__z9Msv:global(.__wab_instance) {
  position: relative;
}
.svg___6BxfZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ktxF0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__omY49 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__rp3F9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__j3Gie {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__il6Xm:global(.__wab_instance) {
  position: relative;
}
.svg__jnYDy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sIzIx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__nY2O1 {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.freeBox__nY2O1 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__nY2O1 > :global(.__wab_flex-container) > *,
.freeBox__nY2O1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nY2O1 > :global(.__wab_flex-container) > picture > img,
.freeBox__nY2O1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.productCollection__viWg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg__c8VVf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7CAsc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___0MRxE {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___22XVk {
  width: 100%;
  height: auto;
  color: var(--token-6g-ax28nVeGn);
  text-align: left;
  min-width: 0;
}
.rating__nKfdf:global(.__wab_instance) {
  position: relative;
}
.text__xQku8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___6Vvvk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__sVF9 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-height: 500px;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__q646V {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__q646V > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__q646V > :global(.__wab_flex-container) > *,
.freeBox__q646V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q646V > :global(.__wab_flex-container) > picture > img,
.freeBox__q646V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__vMylg {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button___2Wa09:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__i4Gio {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__sMuFe {
  height: auto;
}
.svg__c6L8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.categoryCollection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button__nn89O:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__bZed1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__quLum {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___7Mc5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__clgE3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__stQ1H {
  position: relative;
  flex-direction: row;
  display: none;
}
.freeBox__stQ1H > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__stQ1H > :global(.__wab_flex-container) > *,
.freeBox__stQ1H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__stQ1H > :global(.__wab_flex-container) > picture > img,
.freeBox__stQ1H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__stQ1H > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCollection__dy99N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.productCard__rVmxk:global(.__wab_instance) {
  max-width: 100%;
}
.svg__uwOnt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bzmVt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating___5RV:global(.__wab_instance) {
  position: relative;
}
.text___1Tn4P {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___9A4Xm {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-6g-ax28nVeGn);
  min-width: 0;
}
.text___2Lv0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qzuIb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__twsL7 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  min-width: 0;
  padding: 8px;
}
.productCollection___71OH:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.productCard__tDvIf:global(.__wab_instance) {
  max-width: 100%;
}
.svg__n73I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kPXf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__ukSsf:global(.__wab_instance) {
  position: relative;
}
.text__i9BXs {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__pWgUp {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-6g-ax28nVeGn);
  min-width: 0;
}
.text__glftf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ge9Bv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__c52 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__bJ6WO:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__uiLAg {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__hkaae {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__srHyq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__xQuMs:global(.__wab_instance) {
  position: relative;
}
.svg__y714Z {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uB1I {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__oeRt9 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jrfj1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__fp1Mx:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__fp1Mx:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___9Uo57 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__s7Kud {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___433Qb:global(.__wab_instance) {
  position: relative;
}
.svg__fS6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sMwAx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jhnod {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__gj8F4:global(.__wab_instance) {
  position: relative;
}
.svg__shmm4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pGaqd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__qaRgA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__xfc1:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__xfc1:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__uuChT {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__tC3L {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__uUcX1:global(.__wab_instance) {
  position: relative;
}
.svg___3Hig {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nVyLb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ytEYt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__nfvOs:global(.__wab_instance) {
  position: relative;
}
.svg__riV9I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n3AiG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__rOrGx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__ezfPe:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__ezfPe:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__cmHIj {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__gTeGt {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__ks6Xt:global(.__wab_instance) {
  position: relative;
}
.svg__wVtNh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fT61A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tNhcd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__w812P:global(.__wab_instance) {
  position: relative;
}
.svg___3Lyi3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rrDjx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__olPvy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value___5GB9:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___5GB9:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__yeU8F {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__cIkjC {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__co0Sq:global(.__wab_instance) {
  position: relative;
}
.svg__qnnOk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iWkKp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eKs8F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__uhes:global(.__wab_instance) {
  position: relative;
}
.svg__oNjOc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xLVr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
