.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__jboEu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
  padding: 8px;
}
.freeBox__dsTc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 8px;
}
.freeBox__dsTc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__dsTc > :global(.__wab_flex-container) > *,
.freeBox__dsTc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dsTc > :global(.__wab_flex-container) > picture > img,
.freeBox__dsTc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.h3 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField__cwatO:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ppfnS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__sOnDp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___3Aeqf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 100px;
}
.formField__sVdXn:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.textInput5:global(.__wab_instance) {
  max-width: 100%;
}
.svg__edun0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fUlL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__roKmg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 100px;
}
.formField__a1DkP:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.textInput6:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rft2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kBhQf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__q1Zj8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 100px;
}
.formField__ncejg:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.textInput7:global(.__wab_instance) {
  max-width: 100%;
}
.svg__yk2Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__f7O {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__s9H8I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 100px;
}
.freeBox__ank6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__svOnC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__o7YMw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
