.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.cartProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.sectionempty {
  left: auto;
  top: auto;
}
.freeBox__hjZqp {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__hjZqp > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__hjZqp > :global(.__wab_flex-container) > *,
.freeBox__hjZqp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hjZqp > :global(.__wab_flex-container) > picture > img,
.freeBox__hjZqp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hjZqp {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hjZqp > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hjZqp > :global(.__wab_flex-container) > *,
  .freeBox__hjZqp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hjZqp > :global(.__wab_flex-container) > picture > img,
  .freeBox__hjZqp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox___7OW72 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___7OW72 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___7OW72 > :global(.__wab_flex-container) > *,
.freeBox___7OW72 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7OW72 > :global(.__wab_flex-container) > picture > img,
.freeBox___7OW72
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBoxempty___7OW72XCpIm > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.text__tV4K2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  text-align: center;
}
.textempty__tV4K2XCpIm {
  width: 100%;
  min-width: 0;
}
.cartItem:global(.__wab_instance) {
  position: relative;
}
.cartItemempty:global(.__wab_instance) {
  display: none;
}
.freeBox__zvlSv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zvlSv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__zvlSv > :global(.__wab_flex-container) > *,
.freeBox__zvlSv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zvlSv > :global(.__wab_flex-container) > picture > img,
.freeBox__zvlSv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__oW4FS {
  text-align: center;
}
.textempty__oW4FSxCpIm {
  text-align: left;
}
.svg__bgQPd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__s20Vw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hExmA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iswUc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__miSlq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__miSlq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__miSlq > :global(.__wab_flex-container) > *,
.freeBox__miSlq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__miSlq > :global(.__wab_flex-container) > picture > img,
.freeBox__miSlq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__ahmPl {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: #333333;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__ahmPl > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ahmPl > :global(.__wab_flex-container) > *,
.freeBox__ahmPl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ahmPl > :global(.__wab_flex-container) > picture > img,
.freeBox__ahmPl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__h8Wtd {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__vnZtP {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vnZtP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vnZtP > :global(.__wab_flex-container) > *,
.freeBox__vnZtP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vnZtP > :global(.__wab_flex-container) > picture > img,
.freeBox__vnZtP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ioUy {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__uNhiu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__bkm8C {
  color: #ffffff80;
}
.freeBox__m28Da {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__fTcN9 {
  color: var(--token-U4dVQSp3x3VW);
  text-align: right;
  font-weight: 600;
}
.freeBox__ltZ2K {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__bfXo {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__awfEi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox__p6O7U {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text___6HrhQ {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__dD434 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text___6Qp6L {
  color: #ffffff;
  text-align: right;
  font-weight: 600;
}
.button__zqwSi:global(.__wab_instance) {
  position: relative;
}
.svg__v8GWx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___7FooR {
  text-align: center;
  text-decoration-line: underline !important;
  color: #ffffff;
}
.svg__kzPzy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.freeBox__yyYsl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__gHit8 {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__cckBw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__rjcWs {
  color: #ffffff;
  text-align: right;
  font-weight: 600;
}
.button__zo8Yy:global(.__wab_instance) {
  position: relative;
}
.svg__udEgp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___7Unc6 {
  width: 100%;
  text-align: center;
  height: auto;
  min-width: 0;
}
.svg__u5Q99 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__i5JHb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__i5JHb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__i5JHb > :global(.__wab_flex-container) > *,
.freeBox__i5JHb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i5JHb > :global(.__wab_flex-container) > picture > img,
.freeBox__i5JHb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  color: #ffffff80;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__al482 {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__vuzjg {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__vuzjg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__vuzjg > :global(.__wab_flex-container) > *,
.freeBox__vuzjg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vuzjg > :global(.__wab_flex-container) > picture > img,
.freeBox__vuzjg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__unTyN {
  position: relative;
  left: auto;
  top: auto;
  width: 48px;
  flex-shrink: 0;
}
.img__vjWq7 {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__tbGf {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__tUhS {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.freeBox___6Jzk {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: var(--token-U4dVQSp3x3VW);
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox___6Jzk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___6Jzk > :global(.__wab_flex-container) > *,
.freeBox___6Jzk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Jzk > :global(.__wab_flex-container) > picture > img,
.freeBox___6Jzk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Jzk {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Jzk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Jzk > :global(.__wab_flex-container) > *,
  .freeBox___6Jzk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6Jzk > :global(.__wab_flex-container) > picture > img,
  .freeBox___6Jzk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__mMgW {
  position: relative;
  object-fit: cover;
  height: 32px;
}
.img__mMgW > picture > img {
  object-fit: cover;
}
.freeBox__ySqrk {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ySqrk > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ySqrk > :global(.__wab_flex-container) > *,
.freeBox__ySqrk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ySqrk > :global(.__wab_flex-container) > picture > img,
.freeBox__ySqrk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ySqrk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ySqrk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ySqrk > :global(.__wab_flex-container) > *,
  .freeBox__ySqrk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ySqrk > :global(.__wab_flex-container) > picture > img,
  .freeBox__ySqrk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text___0KoQc {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0KoQc {
    text-align: center;
  }
}
.button__dsonL:global(.__wab_instance) {
  position: relative;
}
.svg___7U7Lq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y0HF3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
