.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__q28C {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__q28C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__q28C > :global(.__wab_flex-container) > *,
.freeBox__q28C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q28C > :global(.__wab_flex-container) > picture > img,
.freeBox__q28C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q28C {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q28C > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q28C > :global(.__wab_flex-container) > *,
  .freeBox__q28C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__q28C > :global(.__wab_flex-container) > picture > img,
  .freeBox__q28C
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__vEmzY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__vEmzY > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vEmzY > :global(.__wab_flex-container) > *,
.freeBox__vEmzY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vEmzY > :global(.__wab_flex-container) > picture > img,
.freeBox__vEmzY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__eNhmj {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__mtRs {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__dccqw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kzoSo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___4KlSg:global(.__wab_instance) {
  position: relative;
}
.svg___9YsLv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8Mult {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__cWog5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__cWog5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cWog5 > :global(.__wab_flex-container) > *,
.freeBox__cWog5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cWog5 > :global(.__wab_flex-container) > picture > img,
.freeBox__cWog5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ky7Ht {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__iLg12 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__iLg12 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__iLg12 > :global(.__wab_flex-container) > *,
.freeBox__iLg12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iLg12 > :global(.__wab_flex-container) > picture > img,
.freeBox__iLg12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg___7SUbk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__iaBe7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__cibo4:global(.__wab_instance) {
  position: relative;
}
.svg__yhXnW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__zmZe2 {
  height: auto;
}
.svg__qMMf1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ghp1C:global(.__wab_instance) {
  position: relative;
}
.svg__ln2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__m3Qfb {
  height: auto;
}
.svg__hd8ND {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__knQ3P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__knQ3P > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__knQ3P > :global(.__wab_flex-container) > *,
.freeBox__knQ3P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__knQ3P > :global(.__wab_flex-container) > picture > img,
.freeBox__knQ3P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__uwutc {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__fpVjS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__qCwfW {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__qCwfW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__qCwfW > :global(.__wab_flex-container) > *,
.freeBox__qCwfW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qCwfW > :global(.__wab_flex-container) > picture > img,
.freeBox__qCwfW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__uaTp0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yxi3B {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__stadu:global(.__wab_instance) {
  position: relative;
}
.svg__dgFlu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bejek {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__dkCP:global(.__wab_instance) {
  position: relative;
}
.svg__oiulv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___70FbM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__iDnFz:global(.__wab_instance) {
  position: relative;
}
.svg___7BvZs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ilpQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__mkH1B {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__mkH1B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__mkH1B > :global(.__wab_flex-container) > *,
.freeBox__mkH1B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mkH1B > :global(.__wab_flex-container) > picture > img,
.freeBox__mkH1B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__pw54:global(.__wab_instance) {
  position: relative;
}
.svg__pJlqr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nRkjM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kF0DK:global(.__wab_instance) {
  position: relative;
}
.svg__hxIDf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lKs36 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rs4Gx:global(.__wab_instance) {
  position: relative;
}
.svg__fx3Er {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cfBgc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
