.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__v9DdD {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__v9DdD > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__v9DdD > :global(.__wab_flex-container) > *,
.freeBox__v9DdD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v9DdD > :global(.__wab_flex-container) > picture > img,
.freeBox__v9DdD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__gTc7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gTc7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__gTc7 > :global(.__wab_flex-container) > *,
.freeBox__gTc7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gTc7 > :global(.__wab_flex-container) > picture > img,
.freeBox__gTc7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__xWquf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__eVv8I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__igC9N {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___22Gz5:global(.__wab_instance) {
  position: relative;
}
.svg__j7CU2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__in581 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__dLwLg:global(.__wab_instance) {
  position: relative;
}
.svg__lU3M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ger0Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___9N96U:global(.__wab_instance) {
  position: relative;
}
.svg__zQOfX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__saI6Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
